<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: File Metadata Microservice</h2>

        <h3>Usage:</h3>
        <p>
          Choose a file to upload:
        </p>
        <div class="view">
          <h4 id="output"></h4>
          
          <!-- User Story #1 - submit a form that includes a file upload -->
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <!-- User Story #2 - form file input field has the "name" attribute set to "upfile" -->
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          by James Ragain
        </p>
      </div>
   </body>
</html>
